In [41]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [42]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
453,tt1385867,30000000,55583804,Cop Out,Bruce Willis|Tracy Morgan|Juan Carlos HernÃ¡nd...,Kevin Smith,Rock out with your Glock out,Officers Jimmy Monroe and Paul Hodges have the...,107,Action|Comedy|Crime,Warner Bros.,2/26/2010,5.5,2010
1129,tt0315733,20000000,60427839,21 Grams,Sean Penn|Naomi Watts|Benicio del Toro|Danny H...,Alejandro GonzÃ¡lez IÃ±Ã¡rritu,How much does life weigh?,This is the story of three gentle persons: Pau...,124,Drama|Crime|Thriller,This Is That Productions|Y Productions|Mediana...,9/6/2003,7.0,2003
815,tt1412386,10000000,136836156,The Best Exotic Marigold Hotel,Bill Nighy|Maggie Smith|Tom Wilkinson|Judi Den...,John Madden,Share the journey. Share the laughter.,British retirees travel to India to take up re...,124,Drama|Comedy,Participant Media|Imagenation Abu Dhabi FZ,11/28/2011,6.8,2011
983,tt0454876,120000000,609016565,Life of Pi,Suraj Sharma|Irrfan Khan|Ayush Tandon|Gautam B...,Ang Lee,Believe The Unbelievable,"The story of an Indian boy named Pi, a zookeep...",127,Adventure|Drama|Action,Ingenious Film Partners|Ingenious Media|Dune E...,11/20/2012,7.1,2012
1773,tt0466839,24000000,9576495,I Could Never Be Your Woman,Michelle Pfeiffer|Paul Rudd|Saoirse Ronan|Stac...,Amy Heckerling,Find Yourself. In Love.,This movie follows a mother who falls for a yo...,97,Comedy|Drama|Romance,Scott Rudin Productions|I Could Never Ltd.|Bau...,5/11/2007,5.3,2007

In [43]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [44]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit'] = data.revenue - data.budget
data['release_month'] = data.release_date.str.extract(r'(\d+)')
data['overview_words'] = data.overview.str.split().str.len()

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [45]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [46]:
# тут пишем ваш код для решения данного вопроса:
data[(data.imdb_id.isin(['tt1345836', 'tt0413300', 'tt2395427', 'tt1032751', 'tt1298650']))].sort_values('budget', ascending=None).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,overview_words
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000,5,75

ВАРИАНТ 2

In [47]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [48]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [49]:
data[(data.imdb_id.isin(['tt0167260', 'tt0279111', 'tt0360717', 'tt0213149', 'tt0346491']))].sort_values('runtime', ascending=None).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,overview_words
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064,2,48

# 3. Какой из фильмов самый короткий (в минутах)?

In [50]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'
data[(data.imdb_id.isin(['tt0299172', 'tt0283426', 'tt1449283', 'tt0121164', 'tt0443536']))].sort_values('runtime').head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,overview_words
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000,4,52

# 4. Какова средняя длительность фильмов?

In [51]:
answers['4'] =  '2. 110'
data[['runtime']].describe()

           runtime
count  1889.000000
mean    109.658549
std      18.017041
min      63.000000
25%      97.000000
50%     107.000000
75%     120.000000
max     214.000000

# 5. Каково медианное значение длительности фильмов?

In [52]:
answers['5'] =  '1. 107'
data[['runtime']].describe()

           runtime
count  1889.000000
mean    109.658549
std      18.017041
min      63.000000
25%      97.000000
50%     107.000000
75%     120.000000
max     214.000000

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [53]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '5. Avatar (tt0499549)'
df6 = data[(data.imdb_id.isin(['tt0848228','tt2293640','tt2488496','tt2820852','tt0499549']))][['imdb_id','budget','revenue']]
df6['profit'] = df6.revenue - df6.budget
df6.sort_values('profit',ascending=False).head(1)

       imdb_id     budget     revenue      profit
239  tt0499549  237000000  2781505847  2544505847

# 7. Какой фильм самый убыточный?

In [54]:
answers['7'] = '5. The Lone Ranger (tt1210819)'
df7 = data[(data.imdb_id.isin(['tt0134983','tt2294629','tt0424095','tt0180052','tt1210819']))][['imdb_id','budget','revenue']]
df7['profit'] = df7.revenue - df7.budget
df7.sort_values('profit',ascending=False).tail(1)

        imdb_id     budget   revenue     profit
1245  tt1210819  255000000  89289910 -165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [55]:
answers['8'] = '1. 1478'

data[(data.revenue>data.budget)].count()

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
profit                  1478
release_month           1478
overview_words          1478
dtype: int64

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [56]:
answers['9'] = '4. The Dark Knight (tt0468569)'
data[((data.imdb_id.isin(['tt0479952','tt0371746','tt0441773','tt0468569','tt0795421']))&(data.release_year.isin(['2008'])))].sort_values('revenue').tail(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,overview_words
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,7,67

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [57]:
answers['10'] = '5. The Lone Ranger(tt1210819)'
df9 = data[((data.imdb_id.isin(['tt1837709','tt1656186','tt1235522','tt1374992','tt1210819']))&(data.release_year.isin(['2012','2013','2014'])))].sort_values('revenue')
df9['profit'] = df9.revenue-df9.budget
df9[['imdb_id','revenue','profit']].sort_values('profit').head(1)

        imdb_id   revenue     profit
1245  tt1210819  89289910 -165710090

# 11. Какого жанра фильмов больше всего?

In [58]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = '3. Drama'
sorted({i:data[data['genres'].str.contains(i)].imdb_id.count() for i in['Action', 'Adventure', 'Drama', 'Comedy', 'Thriller']}.items(), key=lambda x: x[1], reverse=True)

[('Drama', 782),
 ('Comedy', 683),
 ('Thriller', 596),
 ('Action', 582),
 ('Adventure', 415)]

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [59]:
answers['12'] = '1. Drama'

df12 = data[data.profit > 0]
sorted({i:df12[df12['genres'].str.contains(i)].imdb_id.count()
        for i in['Drama', 'Comedy', 'Action', 'Thriller', 'Adventure']}.items(), key=lambda x: x[1], reverse=True)

[('Drama', 560),
 ('Comedy', 551),
 ('Thriller', 446),
 ('Action', 444),
 ('Adventure', 337)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [60]:
answers['13'] = '5. Peter Jackson'
sorted({i:data[data['director'].str.contains(i)].revenue.sum() for i in['Steven Spielberg','Christopher Nolan','David Yates','James Cameron','Peter Jackson']}.items(), key=lambda x: x[1], reverse=True)

[('Peter Jackson', 6490593685),
 ('Christopher Nolan', 4167548502),
 ('David Yates', 4154295625),
 ('Steven Spielberg', 3386700791),
 ('James Cameron', 2798546718)]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [61]:
answers['14'] = '3. Robert Rodriguez'

sorted({i:data[data['director'].str.contains(i)&data['genres'].str.contains('Action')].imdb_id.count() for i in['Ridley Scott', 'Guy Ritchie', 'Robert Rodriguez', 'Quentin Tarantino', 'Tony Scott']}.items(), key=lambda x: x[1], reverse=True)

[('Robert Rodriguez', 9),
 ('Ridley Scott', 6),
 ('Quentin Tarantino', 5),
 ('Tony Scott', 5),
 ('Guy Ritchie', 4)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [62]:
answers['15'] = '3. Chris Hemsworth'

df15 = data[(data.release_year == 2012)]
sorted({i:df15[df15['cast'].str.contains(i)].revenue.sum() for i in['Nicolas Cage', 'Tom Hardy', 'Chris Hemsworth', 'Jim Sturgess', 'Emma Stone']}.items(), key=lambda x: x[1], reverse=True)

[('Chris Hemsworth', 2027450773),
 ('Tom Hardy', 1134717867),
 ('Emma Stone', 752215857),
 ('Jim Sturgess', 138589343),
 ('Nicolas Cage', 2106557)]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [63]:
answers['16'] = '3. Matt Damon'

df16 = data[data.budget>data.budget.mean()]
df16_new = df16[df16.cast.str.contains('Tom Cruise|Mark Wahlberg|Matt Damon|Angelina Jolie|Adam Sandler', regex=True)]
sorted({i:df16_new[df16_new['cast'].str.contains(i)].imdb_id.count() for i in['Tom Cruise', 'Mark Wahlberg', 'Matt Damon', 'Angelina Jolie', 'Adam Sandler']}.items(), key=lambda x: x[1], reverse=True)

[('Matt Damon', 18),
 ('Adam Sandler', 17),
 ('Angelina Jolie', 16),
 ('Tom Cruise', 15),
 ('Mark Wahlberg', 14)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [64]:
answers['17'] = '2. Action'

df17 = data[data.cast.str.contains('Nicolas Cage')]
sorted({i:df17[df17['genres'].str.contains(i)].imdb_id.count() for i in['Action', 'Adventure', 'Drama', 'Crime', 'Thriller']}.items(), key=lambda x: x[1], reverse=True)

[('Action', 17),
 ('Thriller', 15),
 ('Drama', 12),
 ('Crime', 10),
 ('Adventure', 7)]

# 18. Самый убыточный фильм от Paramount Pictures

In [65]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'
data[(data.production_companies.str.contains('Paramount'))
     &(data.profit < 0)][['imdb_id','original_title','profit']].sort_values('profit').head(1)

       imdb_id        original_title    profit
925  tt0267626  K-19: The Widowmaker -64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [66]:
answers['19'] = '5. 2015'

data[data.release_year.isin((2002,2008,2012,2014,2015))].pivot_table(
    ['revenue'],['release_year'],aggfunc='sum').sort_values('revenue', ascending=None).head(1)

                  revenue
release_year
2015          25449202382

# 20. Какой самый прибыльный год для студии Warner Bros?

In [67]:
answers['20'] = '1. 2014'

data[data.production_companies.str.contains('Warner Bros')].pivot_table(
    ['profit'],['release_year'],aggfunc='sum').sort_values('profit', ascending=None).head(1)

                  profit
release_year
2014          2295464519

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [68]:
answers['21'] = '4. Сентябрь'

data.pivot_table(['imdb_id'],['release_month'],aggfunc='count').sort_values('imdb_id', ascending=None).head(1)

               imdb_id
release_month
9                  227

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [69]:
answers['22'] = '2. 450'

data[data.release_month.isin(('6','7','8'))].count()

imdb_id                 450
budget                  450
revenue                 450
original_title          450
cast                    450
director                450
tagline                 450
overview                450
runtime                 450
genres                  450
production_companies    450
release_date            450
vote_average            450
release_year            450
profit                  450
release_month           450
overview_words          450
dtype: int64

# 23. Для какого режиссера зима – самое продуктивное время года?

In [78]:
answers['23'] = '5. Peter Jackson'

(data[(data.release_month.isin(('1','2','12')))
    & (data.director.str.contains('Steven Soderbergh|Christopher Nolan|Clint Eastwood|Ridley Scott|Peter Jackson', regex=True))])[['imdb_id','director']].groupby('director').count().sort_values('imdb_id').tail(1)

               imdb_id
director
Peter Jackson        7

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [71]:
answers['24'] = '5. Four By Two Productions'

sorted({i:data[data.production_companies.str.contains(i)].original_title.str.len().mean() for i in (
    'Universal Pictures','Warner Bros','Jim Henson Company, The','Paramount Pictures','Four By Two Productions')}.items(), key=lambda x: x[1], reverse=True)

[('Four By Two Productions', 83.0),
 ('Jim Henson Company, The', 59.0),
 ('Paramount Pictures', 17.0327868852459),
 ('Warner Bros', 15.251366120218579),
 ('Universal Pictures', 14.731428571428571)]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [72]:
answers['25'] = '3. Midnight Picture Show'

sorted({i:data[data.production_companies.str.contains(i)].overview_words.mean() for i in (
    'Universal Pictures','Warner Bros','Midnight Picture Show','Paramount Pictures','Total Entertainment')}.items(), key=lambda x: x[1], reverse=True)

[('Midnight Picture Show', 175.0),
 ('Total Entertainment', 86.0),
 ('Paramount Pictures', 55.26229508196721),
 ('Warner Bros', 54.20765027322405),
 ('Universal Pictures', 53.73714285714286)]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [73]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

data.sort_values('vote_average',ascending=None)[['vote_average','original_title']].head(round(len(data.index)*0.01))

      vote_average                                 original_title
599            8.1                                The Dark Knight
118            8.0                                   Interstellar
125            8.0                             The Imitation Game
9              8.0                                     Inside Out
34             8.0                                           Room
1183           7.9                        The Wolf of Wall Street
128            7.9                                      Gone Girl
1191           7.9                               12 Years a Slave
119            7.9                        Guardians of the Galaxy
1081           7.9  The Lord of the Rings: The Return of the King
1800           7.9                                        Memento
370            7.9                                      Inception
872            7.9                                    The Pianist
138            7.9                       The Grand Budapest Hotel
1188           7.8                                            Her
28             7.8                                      Spotlight
124            7.8                                     Big Hero 6
177            7.8                         The Fault in Our Stars
863            7.8          The Lord of the Rings: The Two Towers

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [74]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'
sorted({','.join((i,k)):len(data[data.cast.str.contains(i)
        &data.cast.str.contains(k)].index) for (i,k) in [('Johnny Depp','Helena Bonham Carter'),
                                                     ('Ben Stiller','Owen Wilson'),
                                                      ('Vin Diesel','Paul Walker'),
                                                      ('Adam Sandler','Kevin James'),
                                                      ('Daniel Radcliffe','Rupert Grint')]
       }.items(), key=lambda x: x[1], reverse=True)

[('Daniel Radcliffe,Rupert Grint', 8),
 ('Johnny Depp,Helena Bonham Carter', 6),
 ('Ben Stiller,Owen Wilson', 6),
 ('Vin Diesel,Paul Walker', 5),
 ('Adam Sandler,Kevin James', 5)]

# Submission

In [75]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger(tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '3. Clint Eastwood',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [76]:
# и убедиться что ни чего не пропустил)
len(answers)

27